<!-- Intro -->
  <section class="view">

    <div class="row">

      <div class="col-md-6 col-lg-7 order-2 order-md-1">

        <div class="d-flex flex-column justify-content-center align-items-center h-100 p-5">
          <h1 class="heading display-3 animated zoomIn">Pamela Bustos</h1>
          <h4 class="subheading font-weight-bold animated zoomIn">Diseñadora de indumentaria para tango escenario</h4>
          <!--
          <div class="mr-auto">
            <button type="button" class="btn btn-lily btn-margin btn-rounded">Get started <i class="fas fa-caret-right ml-3"></i></button>
          </div>
          -->
        </div>

      </div>

      <div class="col-md-6 col-lg-5 order-1 order-md-2 animated fadeIn">
        <div class="view">
          <img src="{{site.url}}/assets/images/port-3.jpg" class="img-fluid" alt="smaple image">
          <div class="mask flex-center hm-gradient">
          </div>
        </div>

      </div>

    </div>

  </section>
  <!-- Intro -->