
<nav class="navbar navbar-red navbar-light fixed-top scrolling-navbar pt-4" id="horizontalBar">
   
    
  <!--<a class="navbar-brand text-wrap" href="{{site.baseurl}}">
      Pamela Bustos
    </a>-->

    <button class="navbar-toggler order-3 text-danger" type="button"
      aria-controls="myNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fa fa-bars"></span>
    </button>

    <!-- NAVIGATION ITEMS -->
    <div class="order-1 collapse navbar-collapse">
        <ul class="navbar-nav ml-auto mt-lg-0">
            {% for item in site.data.navigation %}
            {% if item.lang == page.lang %}
              <li class="nav-item {% if item.link == page.link %} active {% endif %}">
                <a class="nav-link" href="{{site.url}}{{ item.link }}">
                  {{ item.name | capitalize }}
                  {% if item.link == page.link %}<span class="sr-only">(current)</span>{% endif %}
                </a>
              </li>
              {% endif %}
            {% endfor %}
        </ul>
      </div>
      <!-- NAVIGATION ITEMS  END-->

      <!-- LANG SELECTOR-->
      {% if page.type != 'post' %}
      <div class="order-2 nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle " id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ page.lang | capitalize }}
          </a>
          <div class="dropdown-menu dropdown-primary px-auto" style="min-width: 1rem !important;" aria-labelledby="navbarDropdownMenuLink">
              {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
              {% for alt-page in pages %}
                {% if alt-page.lang != page.lang %}
                  <li>
                    <a href="{{site.baseurl}}{{ alt-page.url }}" class="{{ alt-page.lang }}">{{ alt-page.lang | capitalize }}</a>
                  </li>
                {% endif %}
              {% endfor %}
          </div>
      </div>
      {% else %}
      <div class="order-2 nav-item dropdown ml-auto">
          <a class="nav-link dropdown-toggle " id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{ page.lang | capitalize }}
          </a>
          <div class="dropdown-menu dropdown-primary px-auto" style="min-width: 1rem !important;" aria-labelledby="navbarDropdownMenuLink">
              {% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}
              {% for post in posts %}
              {% if post.lang != page.lang %}
                  <li>
                    <a href="{{site.baseurl}}{{ post.url }}" class="{{ post.lang }}">{{ post.lang | capitalize }}</a>
                  </li>
                {% endif %}
              {% endfor %}
          </div>
      </div>
      {% endif %}
      <!-- LANG SELECTOR ENDS -->
</nav>
