

.nav-link{
    font-weight: bold;
}




/////////MEDIA QUERIES//////////
// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    html{
      font-size: 15px;
    }
}
  
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767px) { 
html{
    font-size: 18px;
}
}
  
// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991px) { 
    html{
        font-size: 18px;
    }
}
  
// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199px) { 
    html{
        font-size: 20px;
    }
}
  
// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 
html{
    font-size: 20px;
}
}
  


