/*Masonsry*/

.grid-sizer{
    display: none;
}

/* Custom Properties */
*, *::before, *::after {
    box-sizing: border-box;
}

.mask{
    opacity: 0;
    font-weight: 700;
}
.mask:hover{
    opacity: 1;
}

h1, .h4 {
    font-weight: 700;
}