---
layout: default
---
<body>
    <div class="wrapper">
        <header>
            <!--NAVBAR-->
            {% include navbar.html %}
            <!--NAVBAR-->
        </header>

        <!-- Main start -->
        <main class="pt-5">
            <div class="container">
                <!--BreadCrumb-->
                <nav aria-label="breadcrumb" class="mt-5">
                        <ol class="breadcrumb purple lighten-4">
                            {% if page.lang == 'en' %}
                            <li class="breadcrumb-item"><a href="/portfolio_en.html">Portfolio</a></li>
                            <li class="breadcrumb-item">{{page.title}}</li>
                            {% else %}
                            <li class="breadcrumb-item"><a href="/portfolio.html">Portfolio</a></li>
                            <li class="breadcrumb-item">{{page.title}}</li>
                            {% endif %}
                        </ol>
                      </nav>
                <!-- Breadcrumb ends -->
                <div id="lightbox" class="grid my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                    <div class="grid-sizer col-12 col-sm-6 col-md-4"></div>
                    {% assign pid = 0 %}
                    {% for image in page.images %}
                    
                    <div class="grid-item col-12 col-sm-6 col-md-4 my-3">
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-pid="{{pid}}">
                            <a href="{{site.url}}{{image.image_path}}" itemprop="contentUrl" data-size="{{image.size}}">
                                <img src="{{site.url}}{{image.image_path}}" class="img-fluid" itemprop="thumbnail" alt="{{image.caption}}" />
                            </a>
                        </figure>
                    </div>
                    {% assign pid = pid | plus: 1 %}
                        
                    {% endfor %}                         
                </div>
                          
            </div>      
        </main>
        <!-- MAIN END-->

    
</div>


        <!--FOOTER-->
        {% include footer.html %}
        <!--FOOTER ENDS-->

        <!-- SCRIPTS -->

        <!--COMMON SCRIPTS-->
        {% include footerScripts.html %}

        <!-- MASONRY -->
        <!--<script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>-->
        <script src="{{site.url}}/assets/js/masonry.pkgd.min.js"></script>
        <script src="{{site.url}}/assets/js/imagesloaded.pkgd.min.js"></script>

        <script type="text/javascript">
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',      
            });
            // layout Masonry after each image loads
            $grid.imagesLoaded().progress( function() {
                $grid.masonry('layout');
            });            
        </script>

        <!-- Core CSS file -->
        <link rel="stylesheet" href="{{site.url}}/assets/css/photoswipe.css"> 

        <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
            In the folder of skin CSS file there are also:
            - .png and .svg icons sprite, 
            - preloader.gif (for browsers that do not support CSS animations) -->
        <link rel="stylesheet" href="{{site.url}}/assets/css/default-skin/default-skin.css"> 

        <!-- Core JS file -->
        <script src="{{site.url}}/assets/js/photoswipe.min.js"></script> 

        <!-- UI JS file -->
        <script src="{{site.url}}/assets/js/photoswipe-ui-default.min.js"></script> 

        <script src="{{site.url}}/assets/js/custom-photoswipe.js" type="text/javascript"></script>

        <!-- SCRIPTS ENDS -->

        <!-- NAV OVERLAY -->
        {% include overlay.html %}
        <!-- NAV OVERLAY ENDS-->

        <!-- Include photoswipe -->
        {% include photoswipe.html %}
    </div>
</body>