---
layout: default
---
<body class="pt-3 bg-white" >
    <div class="wrapper">
        <header>
            <!--NAVBAR-->
            {% include navbar.html %}
            <!--NAVBAR-->
            <div class="container d-flex ">
                <nav aria-label="breadcrumb">
                    <ul class="list-unstyled bread">
                        <li class="nav-item">
                            <a {% if page.lang == 'en' %} href="{{site.url}}/portfolio_en.html"
                                {% else %} href="{{site.url}}/portfolio.html" {% endif %}
                                 style="font-size: 2.5rem;">
                                Portfolio
                            </a>
                        </li>
                        <li>
                            <h1 class="h2"><span class="fa fa-caret-right fa-fw"></span>{{page.title}}</h1>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Main start -->
        <main class="pt-5">
            <div class="container">
                <div id="lightbox" class="grid my-gallery" itemscope itemtype="http://schema.org/ImageGallery">
                    <div class="grid-sizer col-12 col-sm-6 col-md-4"></div>
                    {% assign pid = 0 %}
                    {% for image in page.images %}
                    
                    <div class="grid-item col-12 col-sm-6 col-md-4 my-3">
                        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject" data-pid="{{pid}}">
                            <a href="{{site.url}}{{image.image_path}}" itemprop="contentUrl" data-size="{{image.size}}">
                                <img src="{{site.url}}{{image.image_path}}" class="img-fluid" itemprop="thumbnail" alt="{{image.caption}}" />
                            </a>
                        </figure>
                    </div>
                    {% assign pid = pid | plus: 1 %}
                        
                    {% endfor %}                         
                </div>
                          
            </div>      
        </main>
        <!-- MAIN END-->

    
</div>


        <!--FOOTER-->
        {% include footer.html %}
        <!--FOOTER ENDS-->

        <!-- SCRIPTS -->

        <!--COMMON SCRIPTS-->
        {% include footerScripts.html %}

        <!-- MASONRY -->
        <script src="{{site.url}}/assets/js/masonry.pkgd.min.js"></script>
        <script src="{{site.url}}/assets/js/imagesloaded.pkgd.min.js"></script>

        <script>
            var $grid = $('.grid').masonry({
                itemSelector: '.grid-item',
                columnWidth: '.grid-sizer',      
            });
            /*layout Masonry after each image loads*/
            $grid.imagesLoaded().progress( function() {
                $grid.masonry('layout');
            });            
        </script>

        <!-- Core CSS file -->
        <link rel="stylesheet" href="{{site.url}}/assets/css/photoswipe.css"> 

        <!-- Skin CSS file (styling of UI - buttons, caption, etc.)
            In the folder of skin CSS file there are also:
            - .png and .svg icons sprite, 
            - preloader.gif (for browsers that do not support CSS animations) -->
        <link rel="stylesheet" href="{{site.url}}/assets/css/default-skin/default-skin.css"> 

        <!-- Core JS file -->
        <script src="{{site.url}}/assets/js/photoswipe.min.js"></script> 

        <!-- UI JS file -->
        <script src="{{site.url}}/assets/js/photoswipe-ui-default.min.js"></script> 

        <script src="{{site.url}}/assets/js/custom-photoswipe.js" type="text/javascript"></script>

        <!-- SCRIPTS ENDS -->

        <!-- NAV OVERLAY -->
        {% include overlay.html %}
        <!-- NAV OVERLAY ENDS-->

        <!-- Include photoswipe -->
        {% include photoswipe.html %}
    </div>
</body>