---
layout: default
---
<body>
    <header>
        <!--NAVBAR-->
        {% include navbar.html %}
        <!--NAVBAR-->
    </header>

<main class="container mt-5">
    <h1>Blog</h1>

{% assign posts=site.posts | where:"lang", page.lang %}  
    {% for post in posts %}
    <!--Small news-->
    <div class="row bg-white view z-depth-1 my-5 align-items-center">
            <div class="col-md-3 px-0">
              <!--Image-->
              <div class="view">
                <img src="{{ site.url }}{{post.image}}" class="img-fluid" alt="Minor sample post image">
                <a href="{{site.baseurl}}{{ post.url }}" }}>
                  <div class="mask rgba-white-slight"></div>
                </a>
              </div>
            </div>

            <!--Excerpt-->
            <div class="col-md-9 p-2">
              {{ post.excerpt | truncatewords: 30 }}
              <a class="nav-link text-danger text-center">Seguir leyendo</a>
              </a>
              
            </div> 
          <hr>
          <!--/Small news-->
          <div class="postDate">{{ post.date | date: "%-d-%m-%Y" }}</div> 
        </div>
    {% endfor %}
  
</main>

    <!--FOOTER-->
    {% include footer.html %}
    <!--FOOTER ENDS-->

    <!-- SCRIPTS -->

    <!--COMMON SCRIPTS-->
    {% include footerScripts.html %}

    <!--SCRIPTS ENDS-->

    <!-- NAV OVERLAY -->
    {% include overlay.html %}
    <!-- NAV OVERLAY ENDS-->

</body>

