---
layout: compress
---

<!DOCTYPE html>
<html lang="{{page.lang}}">
  <head>
    <title>{{ site.name }} | {{ page.subtitle }}</title>

    <!--Meta Tags-->
    {% include meta.html %}

    <!--Material Bootstrap-->
    {% include mdb.html %}

    <!--Inline CSS-->
    <style type="text/css">
      {% capture include_to_scssify %}
        {% if page.ref == 'portfolio' %}
          {% include inlinePortfolio.scss %}
        {% elsif page.type == 'album' %}
          {% include inlineAlbum.scss %}
        {% elsif page.ref == 'blog' %}
          {% include inlineBlog.scss %}
        {% else %}
          {% include inline.scss %}
        {% endif %}
      {% endcapture %}
      {{ include_to_scssify | scssify }}!important
    </style>

    <!--RSS FEED-->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="/feed.xml" />

     <link href="https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap" rel="stylesheet"> 

  </head>

  {{ content }}

</html>
