---
layout: default
---
<div class="container">
    <section class="my-5">
        <div class="row justify-items-center text-center">
            <div class="col-12 col-md-6 justify-items-center">
                <img src="/assets/images/port-6.jpg" class="img-fluid wow fadeIn" />
            </div>
            <div class="col-12 col-md-6 align-self-center p-5 wow fadeInRight">
                <h2>Presentación</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Lacus sed turpis tincidunt id aliquet. 
                    In ante metus dictum at tempor. Justo nec ultrices dui sapien eget mi proin.
                </p>
            </div>
        </div>
    </section>
    <section class="my-5">
        <div class="row justify-items-center text-center">
            <div class="col-12 col-md-6 align-self-center p-5 order-2 order-md-1 wow fadeInLeft">
                <h2>Trabajos - Qué, para quiénes</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Lacus sed turpis tincidunt id aliquet. 
                    In ante metus dictum at tempor. Justo nec ultrices dui sapien eget mi proin.
                </p>
                <a class="nav-link text-danger" href="/portfolio">Ver más</a>
            </div>
            <div class="col-12 col-md-6  justify-items-center order-1 order-md-2">
                <img src="/assets/images/port-4.jpg" class="img-fluid wow fadeIn" />
            </div>
        </div>
    </section>
    <section class="my-5">
        <div class="row justify-items-center text-center">
            <div class="col-12 col-md-6  justify-items-center">
                <img src="/assets/images/port-8.jpg" class="img-fluid wow fadeInLeft" />
            </div>
            <div class="col-12 col-md-6 align-self-center p-5 wow fadeInRight">
                <h2>Detalle trabajo - Cómo</h2>
                <p class=" text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Lacus sed turpis tincidunt id aliquet. 
                    In ante metus dictum at tempor. Justo nec ultrices dui sapien eget mi proin.
                </p>
            </div>
        </div>
    </section>
    <section class="my-5">
        <div class="row justify-items-center text-center">
            <div class="col-12 col-md-6 align-self-center p-5 order-2 order-md-1 wow fadeInLeft">
                <h2>Conocer más - Link al blog</h2>
                <p class="text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                    Risus viverra adipiscing at in tellus integer feugiat scelerisque varius. Lacus sed turpis tincidunt id aliquet. 
                    In ante metus dictum at tempor. Justo nec ultrices dui sapien eget mi proin.
                </p>
                <a class="nav-link text-danger" href="/blog">Ver más</a>
            </div>
            <div class="col-12 col-md-6  justify-items-center order-1 order-md-2">
                <img src="/assets/images/port-4.jpg" class="img-fluid wow fadeIn" />
            </div>
        </div>
    </section>
    {% include contactForm.html %}
</div>
