---
layout: default
---
<div class="container">
    <section>

    
    <div class="">
        <div style="float: left;" class="m-3">
            <img src="{{page.image}}" class="img-fluid" />
        </div>
        <h1>{{ page.title }}</h1>
        <br>
        {{page.content}}
    </div>  


</section>
    <!--Section: Author Box-->
<section class="my-5">

        <!-- Card header -->
        <div class="card-header border-0 font-weight-bold d-flex justify-content-between">
          <p class="mr-4 mb-0">About the author</p>
          <ul class="list-unstyled list-inline mb-0">
            <li class="list-inline-item"><a href="" class="mr-3"><i class="fas fa-envelope mr-1"></i>Send message</a></li>
            <li class="list-inline-item"><a href="" class="mr-3"><i class="fab fa-facebook mr-1"></i>See profile</a></li>
            <li class="list-inline-item"><a href="" class="mr-3"><i class="fab fa-pinterest mr-1"></i>Follow</a></li>
          </ul>
        </div>
      
        <div class="media mt-4 px-1">
          <img class="card-img-100 d-flex z-depth-1 mr-3" src="/assets/images/post-1.jpg"
            alt="Generic placeholder image">
          <div class="media-body">
            <h5 class="font-weight-bold mt-0">
              <a href="">Pamela Bustos</a>
            </h5>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod consectetur accusamus velit nostrum et
            magnam.
          </div>
        </div>
      
      </section>
      <!--Section: Author Box-->
</div>

